* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: bold; }

nav {
  background: lightblue;
  z-index: 10;
  position: fixed;
  top: 0px;
  text-align: center;
  display: none;
  width: 100%;
  left: 0px;}
  nav ul li {
    margin: auto; 
    padding-top: 90px;}
    nav ul li a {
      font-size: 55px;
      line-height: 80px;
      text-align: center;
      color: black;}

header {
  width: 100%;
  height: 100px;
/*  background-color: lightblue;*/
  display: inline-block; }

header i {
  position: absolute;
  top: 0.3em;
  left: 6.9em;
}

h1 {
  display: block;
  width: 50%;
  margin: 0 auto; 
  text-align: center;
  font-size: 2.5em;
  padding-top: 0.8em;
}

h2 {
  margin: 0 auto;
  position: absolute;
  top: 5em;
  left: 5.4em;
}

button {
  color: blue;
  border: 2px solid black;
  font-size: 45.2px;
  padding: 20px;
  margin-top: 10px; }





.master {
  position: relative;
  content: "";
  clear: both;
}

.active {
  margin: 0;
  height: 70em;
  display: block; }
  .active a {
    margin: 50px;
    display: block; }

.fas {
  font-size: 60px;
  margin: 5px;
  float: right;
  color: red;
  z-index: 10; }

.fa-window-close {
  font-size: 56px;
  margin-top: 25px;
  margin-right: 25px;
  float: right;
  color: red;
  z-index: 10; }

/*.icon-row {
  display: table; }*/





.sign-up {
  display: inline-block;
  border: 2px solid black;
  font-size: 60px;
  padding: 30px;
  margin-left: 18%;
  margin-top: 260px;
  display: block;
  color: purple;
  font-weight: normal;
}

.log-in {
  border: 2px solid black;
  font-size: 60px;
  padding: 30px;
  margin-left: 22%;
  margin-top: 240px;
  display: block;
  font-weight: normal;
}

.log-mail {
  border: 2px solid grey;
  font-size: 20px;
  color: grey;
  text-align: center;
  padding: 10px;
  left: 120px;
  top: 300px;
  position: absolute;
}

.log-pass {
  border: 2px solid grey;
  font-size: 20px;
  color: grey;
  text-align: center;
  padding: 10px;
  left: 120px;
  top: 420px;
  position: absolute;
}

.log-sub {
  border: 2px solid grey;
  font-size: 20px;
  font-weight: normal;
  color: grey;
  text-align: center;
  padding: 20px;
  left: 190px;
  top: 530px;
  position: absolute;
  color: blue;
}

.landing-txt {
  z-index: 10;
  position: absolute;
  top: -90px;
  left: 75px;
  font-size: 50px;
  font-weight: normal;
}

.landing-txt-two {
  z-index: 10;
  position: absolute;
  bottom: 150px;
  left: 45px;
  font-size: 50px;
  font-weight: normal;
}





.menu-user {
  position: absolute;
  top: 40px;
  left: 165px;
  font-size: 35px;
  font-weight: normal;
  color: grey;
}

.menu-ss {
  line-height: 250px;
}





.icon-opt {
  display: inline-block;
  align-items: center;
  grid-template-columns: repeat(2, 12px);
  grid-template-rows: repeat(2, auto);
  border: 3px solid black; 
  width: 14em;
  height: 14em;
  margin-left: 12px;
  margin-top: 10px;
  float: left;
  position: relative;}

.btn {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100%;
}

.tech-tab {
  position: absolute;
  border-radius: 3px;
  left: 0.3em;
  color: black;
}

.room-tab {
  position: absolute;
  border-radius: 3px;
  left: 6.6em;
  float: right;
  color: black;
}

.room-tab-alt {
  position: absolute;
  border-radius: 3px;
  right: 0.29em;
  top: 0.01em;
  color: black;
}





.home-txt {
    z-index: 9;
    top: 6em;
    left: 2.3em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.home-txt-two {
    z-index: 9;
    top: 6em;
    left: 1.5em;
    font-size: 25px;
    position: absolute;
    text-align: center;
    color: black;
}
  .home-txt-two::active {
    color: black;
  }

.home-txt-three {
    z-index: 9;
    top: 6em;
    left: 3em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.home-txt-four {
    z-index: 9;
    top: 6em;
    left: 1em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.home-txt-five {
    z-index: 9;
    top: 6em;
    left: 1.5em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.home-txt-six {
    z-index: 9;
    top: 6em;
    left: 2.7em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.home-txt-seven {
    z-index: 9;
    top: 6em;
    left: 2.7em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}





.tech-list {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: beige;
  color: black;
  margin: 0.90em; 
  font-size: 19px;
  width: 24em}

.add-more {
  border: 2px solid black;
  background-color: lightblue;
  color: black; }





.list-txt {
  position: absolute;
  top: 5.5em;
  left: 6.4em;
  font-size: 30px;
}

.list-txt-two {
  position: absolute;
  top: 11.8em;
  left: 6.6em;
  font-size: 29px;
}

.list-txt-three {
  position: absolute;
  top: 17em;
  left: 6.4em;
  font-size: 30px;
}

.list-txt-four {
  position: absolute;
  top: 23em;
  left: 6.4em;
  font-size: 30px;
}





.list-para {
  position: absolute;
  font-weight: normal;
  font-style: italic;
  color: grey;
  top: 11.5em;
  left: 10em;
}

.list-para-two {
  position: absolute;
  font-weight: normal;
  font-style: italic;
  color: grey;
  top: 20.8em;
  left: 10em;
}

.list-para-three {
  position: absolute;
  font-weight: normal;
  font-style: italic;
  color: grey;
  top: 30em;
  left: 10em;
}

.list-para-four {
  position: absolute;
  font-weight: normal;
  font-style: italic;
  color: grey;
  top: 39.3em;
  left: 10em;
}





.list-icon {
  height: 8em;
  padding: 20px;
}

.list-icon-two {
  height: 8em;
  padding: 20px;
  margin-left: 1.5em;
}

.list-icon-three {
  height: 8em;
  padding: 20px;
  margin-left: 1em;
}

.list-icon-four {
  height: 8em;
  padding: 20px;
  margin-left: 0.01em;
}





.home-logos {
  height: 13.6em;
  display: inline-block;
  float: left;}

.icon-txt {
    z-index: 9;
    top: 6em;
    left: 2.3em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.icon-txt-two {
    z-index: 9;
    top: 5.8em;
    left: 0.07em;
    font-size: 25px;
    position: absolute;
    text-align: center;
}

.icon-txt-three {
    z-index: 9;
    top: 6em;
    font-size: 25px;
    position: absolute;
    text-align: center;
    left: 3em;
}

.icon-txt-four {
    z-index: 9;
    top: 6.5em;
    font-size: 25px;
    position: absolute;
    text-align: center;
    left: 0.4em;
}





.fa-plus-circle {
  height: 100px;
  width: 11.5em;
  margin-left: 12px;
  font-size: 40px;
  padding-top: 25px;
  padding-left: 80px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.add-devices-txt {
  font-size: 30px;
  width: 10em;
  float: right;
  margin-top: 8px; 
}

.custom-txt {
  font-size: 30px;
  width: 10em;
  float: right;
  margin-top: 6px; 
}





.air-head {
  font-size: 2em;
}

.air-txt {
  margin: 0 auto;
  position: relative;
}

.air-slider {
  position: absolute;
  top: 20em;
  margin: 0 auto;
  z-index: 0;
}

#slider .rs-range-color  {
    background-color: black;
}

#slider .rs-path-color  {
    background-color: grey;
    border-radius: 0;
}

#slider .rs-handle  {
    background-color: black;
}

#slider .rs-border  {
    border: none;
}






/*Media Queries Start*/

/*Media Queries End*/

/*# sourceMappingURL=style.css.map */
