.fas {
	font-size: 40px;
	margin: 5px;
	float: right;
	color: red;
}

// .icon_wrap {
// 	display: inline-block; 
// }

.icon_opt {
	display: inline-block;
}

.fa {
	font-size: 100px;
	padding: 25px;
	border: 2px solid black;
	color: lightblue;
}