.icon-opt {
  display: inline-block;
  align-items: center;
  grid-template-columns: repeat(2, 12px);
  grid-template-rows: repeat(2, auto);
  border: 3px solid $l-color; 
  width: 14em;
  height: 14em;
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 1px;
  float: left;
  position: relative;
  color: $l-color;}

.opt-active {
    background-color: $active-color;}

.tech-tab {
  position: absolute;
  border-radius: 3px;
  left: 0.3em;
  color: $l-color;
}

.room-tab {
  position: absolute;
  border-radius: 3px;
  left: 6.6em;
  float: right;
  color: $l-color;
}
  #tab-inactive {
    background-color: $o-color;
  }

.room-tab-alt {
  position: absolute;
  border-radius: 3px;
  right: 0.29em;
  top: 0.01em;
  color: $l-color;
}

.add-devices-txt {
  font-size: 30px;
  width: 10em;
  float: right;
  margin-top: 8px; 
}

.add-more {
  @include btn-border;
  background-color: $m-color;
  color: $l-color; }





  /*[iPhone 6/7/8]*/
@media only screen and (max-width: 400px) {

  .icon-opt { 
    width: 10.2em;
    height: 10.2em;
    margin-left: 16px;
    color: $l-color;}

  .tech-tab {
    left: 0.5em;
    background-color: $bg-color;
  }

  .room-tab {
    left: 7.1em;
    background-color: $bg-color;
  }

  .room-tab-alt {
    right: 0.29em;
    top: 0.01em;
    color: $l-color;
  }

  .add-devices-txt {
    font-size: 25px;
    width: 8.5em;
    float: right;
    margin-top: 8px; 
  }

}





/*[iPad]*/
@media only screen and (min-width: 750px) {

  .icon-opt { 
    width: 20.5em;
    height: 20.5em;
    margin-left: 40px;
    color: $l-color;}

  .tech-tab {
    left: 0.6em;
    background-color: $bg-color;
  }

  .room-tab {
    left: 7.1em;
    background-color: $bg-color;
  }

  .room-tab-alt {
    right: 0.29em;
    top: 0.01em;
    color: $l-color;
  }

  .add-devices-txt {
    font-size: 40px;
    width: 10.5em;
    float: right;
    margin-top: 18px; 
  }  

}





/*[iPad Landscape]*/
@media only screen and (min-device-width: 768px)
                   and (max-device-width: 1024px)
                   and (orientation: landscape)
                   and (-webkit-min-device-pixel-ratio:1) {

  .icon-opt { 
    width: 12.8em;
    height: 12.8em;
    margin-left: 40px;
    color: $l-color;}

  .btn {
    height: 60px;
    width: 50%;
    margin-bottom: 5em;
    margin-left: 9.3em;
  }

  .tech-tab {
    left: 0.6em;
    padding: 25px;
    margin-bottom: 10px;
    background-color: $bg-color;
  }

  .room-tab {
    left: 6.9em;
    padding: 25px;
    background-color: $bg-color;
  }

  .room-tab-alt {
    right: 0.29em;
    top: 0.01em;
    padding: 25px;
    color: $l-color;
  }

  .add-devices-txt {
    font-size: 30px;
    width: 10.2em;
    float: right;
    margin-top: 12px; 
  }  

}