.home-logos {
  height: 13.6em;
  display: inline-block;
  float: left;}

.list-icon {
  height: 8em;
  padding: 20px;
}

.list-icon-two {
  height: 8em;
  padding: 20px;
  margin-left: 1.5em;
}

.list-icon-three {
  height: 8em;
  padding: 20px;
  margin-left: 1em;
}

.list-icon-four {
  height: 8em;
  padding: 20px;
  margin-left: 0.01em;
}





  /*[iPhone 6/7/8]*/
@media only screen and (max-width: 400px) {

 .home-logos {
    height: 9.8em;
  }

  .list-icon {
    height: 7em;
    padding: 20px;
    margin-left: 0.75em;
  }

  .list-icon-two {
    height: 7em;
    padding: 20px;
    margin-left: 1.8em;
  }

  .list-icon-three {
    height: 7em;
    padding: 20px;
    margin-left: 1.2em;
  }

  .list-icon-four {
    height:6.5em;
    padding: 20px;
    margin-left: 0.69em;
  }

  .list-icon {
    height: 10em;
    margin-left: 2em;
    margin-top: 0.40em;
  }

  .list-icon-two {
    height: 10em;
    margin-left: 4em;
    margin-top: 0.5em;
  }

  .list-icon-three {
    height: 10em;
    margin-left: 3.3em;
    margin-top: 0.6em;
  }

  .list-icon-four {
    height:9.5em;
    margin-left: 2.5em;
    margin-top: 0.7em;
  }  

}





/*[iPad]*/
@media only screen and (min-width: 750px) {

  .home-logos {
    height: 20.1em;
  }

  .list-icon {
    height: 9em;
    margin-left: 1em;
    margin-top: 1em;
  }

  .list-icon-two {
    height: 9.5em;
    margin-left: 2.5em;
    margin-top: 0.8em;
  }

  .list-icon-three {
    height: 9em;
    margin-left: 2em;
    margin-top: 1.2em;
  }

  .list-icon-four {
    height:8em;
    margin-left: 1.5em;
    margin-top: 1.5em;
  }  

}





/*[iPad Landscape]*/
@media only screen and (min-device-width: 768px)
                   and (max-device-width: 1024px)
                   and (orientation: landscape)
                   and (-webkit-min-device-pixel-ratio:1) {

  .home-logos {
    height: 12.5em;
  }

  .list-icon {
    height: 8em;
    padding: 20px;
  }

  .list-icon-two {
    height: 8em;
    padding: 20px;
    margin-left: 1.5em;
  }

  .list-icon-three {
    height: 8em;
    padding: 20px;
    margin-left: 1em;
  }

  .list-icon-four {
    height: 8em;
    padding: 20px;
    margin-left: 0.01em;
  }

}